# TASK 3 - DECISION TREE CLASSIFIER

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import seaborn as sns

In [2]:
# Step 1: Load the dataset
file_path = ("C:\\Users\\reshm\\OneDrive\\Desktop\\bank.csv")
data = pd.read_csv(file_path)

In [3]:
# Display the first few rows of the dataset
print(data.head())

   age         job  marital  education default  balance housing loan  contact  \
0   59      admin.  married  secondary      no     2343     yes   no  unknown
1   56      admin.  married  secondary      no       45      no   no  unknown
2   41  technician  married  secondary      no     1270     yes   no  unknown
3   55    services  married  secondary      no     2476     yes   no  unknown
4   54      admin.  married   tertiary      no      184      no   no  unknown

   day month  duration  campaign  pdays  previous poutcome deposit
0    5   may      1042         1     -1         0  unknown     yes
1    5   may      1467         1     -1         0  unknown     yes
2    5   may      1389         1     -1         0  unknown     yes
3    5   may       579         1     -1         0  unknown     yes
4    5   may       673         2     -1         0  unknown     yes

In [4]:
# Step 2: Preprocess the data
# Encode categorical variables using one-hot encoding
cat_vars = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
            'month', 'day', 'poutcome']
data_processed = pd.get_dummies(data, columns=cat_vars, drop_first=True)

In [5]:
# Step 3: Define features (X) and target variable (y)
X = data_processed.drop('deposit',axis=1)
y = data_processed['deposit']

In [6]:
X

,age,balance,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,job_management,...,day_25,day_26,day_27,day_28,day_29,day_30,day_31,poutcome_other,poutcome_success,poutcome_unknown
0,59,2343,1042,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,56,45,1467,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,41,1270,1389,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,55,2476,579,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,54,184,673,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,257,1,-1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11158,39,733,83,4,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11159,32,29,156,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11160,43,0,9,2,172,5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11161,34,0,628,1,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
y

0        yes
1        yes
2        yes
3        yes
4        yes
        ...
11157     no
11158     no
11159     no
11160     no
11161     no
Name: deposit, Length: 11162, dtype: object

In [8]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Build and train the Decision Tree Classifier
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [10]:
# Evaluate the model
# Predict on the test set
y_pred = clf.predict(X_test)

In [11]:
# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.7747424988804299

In [12]:
# Confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(conf_matrix)

Confusion Matrix:
[[923 243]
 [260 807]]

In [13]:
# Classification report
class_report = classification_report(y_test, y_pred)
print('Classification Report:')
print(class_report)

Classification Report:
              precision    recall  f1-score   support

          no       0.78      0.79      0.79      1166
         yes       0.77      0.76      0.76      1067

    accuracy                           0.77      2233
   macro avg       0.77      0.77      0.77      2233
weighted avg       0.77      0.77      0.77      2233